.cart__container {
    width: 130rem;
    margin: 3rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.cart__image {
    object-fit: cover;
}


.cart__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 3rem;
}

.cart__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cart__item__btns {
    display: flex;
    gap: 2rem;
}

.cart__item__btn {
    all: unset;
    cursor: pointer;
    color: #000;
    font-weight: 700;
    text-decoration: underline;
    
}

.cart__item__select {
    width: 10rem;
    height: 2.3rem;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
}



.cart__btn:hover {
    opacity: 0.8;
}

.cart__btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .cart__container {
        grid-template-columns: 1fr;
    }
    .cart__summary {
        position: static;
        align-self: center;
    }
}
    
