.hero {
    background-color: #D9D9D9;
    width: 100%;
}

.hero__container {
    width: 130rem;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}

.hero__text {
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #000, #5e5e5e );
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores WebKit (como Safari) */
    color: transparent;
}


.hero__image{
    clip-path: polygon(100% 0%, 86% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: black; 
}

@media (max-width: 768px) {
    .hero__container {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .hero__image {
        object-fit: contain;
        width: 100%;
        margin: 0 auto;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
    }
    .hero__text {
        margin-top: 5rem;
        text-align: center;
        background-image: linear-gradient(to bottom, #000, #949494 );
     
    }
}
    
